{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block main %}
  <div class="container mt-5 col-md-6">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">Add Tea</h5>
        <form action="/tea/add" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-md-6 my-2">
              <label for="title">Name</label>
              <input type="text" class="form-control" id="title" name="name" placeholder="Honey Rose Jasmine Tea">
            </div>
            <div class="form-group col-md-6 my-2">
              <label for="origin">Origin</label>
              <input type="text" class="form-control" id="origin" name="origin" placeholder="Taiwan">
            </div>
            <div class="col-md-6 my-2">
              <label for="title" class="d-flex justify-content-left">Tea Types</label>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="black tea">
                    <label class="form-check-label" for="tea_type">Black Tea</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="green tea">
                    <label class="form-check-label" for="tea_type">Green Tea</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="white tea">
                    <label class="form-check-label" for="tea_type">White Tea</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="jasmine">
                    <label class="form-check-label" for="tea_type">Jasmine</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="oolong">
                    <label class="form-check-label" for="tea_type">Oolong</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="matcha">
                    <label class="form-check-label" for="tea_type">Matcha</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="chai">
                    <label class="form-check-label" for="tea_type">Chai</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="rooibos">
                    <label class="form-check-label" for="tea_type">Rooibos</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="herbal">
                    <label class="form-check-label" for="tea_type">Herbal</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input type="checkbox" id="tea_type" name="tea_type" class="form-check-input" value="fruit">
                    <label class="form-check-label" for="tea_type">Fruit</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="instructions">Ingredients</label>
              <textarea type="text" class="form-control" id="instructions" rows="3" placeholder="Grass, feet, etc..." name="ingredients"></textarea>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success col-md-6">Submit</button>
            </div>
          </div> 
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main %}